<h1 class="jumbotron">Play Word Puzzle!</h1>
<h2>After you enter your word or sentence, I will return your statement but will replace the vowels with dashes.</h2>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="words">Enter your words here:</label>
    <input id="words" name="words" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
